flow.json
[
  {
    "id": "61e276be557acd2b",
    "type": "tab",
    "label": "sdx-demo",
    "disabled": false,
    "info": ""
  },
  {
    "id": "8c1f6024ea14c085",
    "type": "mqtt in",
    "z": "61e276be557acd2b",
    "name": "",
    "topic": "khghaffa23/#",
    "qos": "0",
    "datatype": "auto",
    "broker": "e1e1b92214b867ab",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 150,
    "y": 240,
    "wires": [["15c4290cacf822cb"]]
  },
  {
    "id": "f451e7af25e711eb",
    "type": "debug",
    "z": "61e276be557acd2b",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 360,
    "y": 120,
    "wires": []
  },
  {
    "id": "2fe15544aebbb5d4",
    "type": "ui_gauge",
    "z": "61e276be557acd2b",
    "name": "",
    "group": "6c613da32dfb8eb7",
    "order": 11,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "speed",
    "label": "km/h",
    "format": "{{msg.payload | number:0}}",
    "min": 0,
    "max": "100",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 580,
    "y": 260,
    "wires": []
  },
  {
    "id": "15c4290cacf822cb",
    "type": "switch",
    "z": "61e276be557acd2b",
    "name": "speed",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "khghaffa23/toyota/SPEED",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 360,
    "y": 380,
    "wires": [["2fe15544aebbb5d4", "f451e7af25e711eb"]]
  },
  {
    "id": "e1e1b92214b867ab",
    "type": "mqtt-broker",
    "name": "",
    "broker": "mqtt.khghaffa23.rahtiapp.fi",
    "port": "443",
    "tls": "ef596ff55e99e15b",
    "clientid": "",
    "usetls": true,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "sessionExpiry": ""
  },
  {
    "id": "6c613da32dfb8eb7",
    "type": "ui_group",
    "name": "Default",
    "tab": "b5da8f18fbb69734",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "ef596ff55e99e15b",
    "type": "tls-config",
    "name": "",
    "cert": "",
    "key": "",
    "ca": "",
    "certname": "",
    "keyname": "",
    "caname": "ca.crt",
    "servername": "",
    "verifyservercert": false,
    "alpnprotocol": ""
  },
  {
    "id": "b5da8f18fbb69734",
    "type": "ui_tab",
    "name": "test",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  }
]
